<h3> Your Profile</h3>

<form>
  <div class="form-group row">
    <label for="dwarfName" class="col-sm-3 col-form-label">name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="dwarfName" name="dwarfName" [(ngModel)]="currentDwarf.name">
    </div>
  </div>
  <div class="form-group row">
    <label for="dwarfHeight" class="col-sm-3 col-form-label">Height</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="dwarfHeight" name="dwarfHeight" [(ngModel)]="currentDwarf.height">
    </div>
  </div>
  <div class="form-group row">
    <label for="dwarfbeardColor" class="col-sm-3 col-form-label">BeardColor</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="dwarfbeardColor" name="dwarfbeardColor" [(ngModel)]="currentDwarf.beardColor">
    </div>
  </div>
  <div class="form-group row">
    <label for="dwarfbeardLength" class="col-sm-3 col-form-label">BeardLength</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="dwarfbeardLength" name="dwarfbeardLength" [(ngModel)]="currentDwarf.beardLength">
    </div>
  </div>
  <div class="form-group-row">
    <label class="col-sm-3 col-form-label">FavoriteDrink</label>
    <div class="col-sm-9">
      <select name="dwarfFavDrink" class="form-control" [(ngModel)]="currentDwarf.favoriteDrink">
        <option *ngFor="let favoriteDrink of favoriteDrinks">{{favoriteDrink}}</option>
      </select>
    </div>
  </div>

  <div class="form-group-row">
    <label class="col-sm-3 col-form-label">Occupation</label>
    <div class="col-sm-9">
      <select name="dwarfOccupation" class="form-control" [(ngModel)]="currentDwarf.occupation">
        <option *ngFor="let occupation of occupations">{{occupation}}</option>
      </select>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <button type="submit" class=" offset-sm-3 btn btn-primary" (click)="submitDwarf()">Set in Stone</button>
  </div>
</form>