<h3> Your Profile</h3>

<form>
  <div class="form-group row">
    <label for="dwarfName" class="col-sm-3 col-form-label">name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="dwarfName" name="dwarfName" [(ngModel)]="currentDwarf.name">
    </div>
  </div>
  <div class="form-group row">
    <label for="dwarfHeight" class="col-sm-3 col-form-label">Height</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="dwarfHeight" name="dwarfHeight" [(ngModel)]="currentDwarf.height">
    </div>
  </div>
  <div class="form-group row">
    <label for="dwarfbeardColor" class="col-sm-3 col-form-label">BeardColor</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="dwarfbeardColor" name="dwarfbeardColor" [(ngModel)]="currentDwarf.beardColor">
    </div>
  </div>
  <div class="form-group row">
    <label for="dwarfbeardLength" class="col-sm-3 col-form-label">BeardLength</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="dwarfbeardLength" name="dwarfbeardLength" [(ngModel)]="currentDwarf.beardLength">
    </div>
  </div>
  <div class="form-group row">
    <button type="submit" class=" offset-sm-3 btn btn-primary" (click)="submitDwarf()" [disabled]="!currentDwarf.name
    || !currentDwarf.height
    || !currentDwarf.beardColor
    || !currentDwarf.beardLength">Set in Stone</button>
  </div>
</form>